.env
myartisan
generate_css.php
public/js/generate_css_php.js
public/js/Spotify_Api.js
public/ressources/playlists_image/*
public/ressources/users_image/*
public/ressources/artists_image/*
public/ressources/spotify-icons-logos/icons/02_CMYK
public/ressources/spotify-icons-logos/icons/03_PMS