.fs-1{/*12px*/font-size: 0.75rem;}
.text-white{color: white;}
.c-p{cursor: pointer;}
.center{display: flex;align-items: center;justify-content: center;}
.center-b{display: flex;align-items: center;justify-content: space-between;}
.fw-w{flex-wrap: wrap;}
.overf-a{overflow: auto;}
.p-1{/*4px*/padding: 0.25rem;}
.p-2{/*8px*/padding: 0.5rem;}
.px-1{/*4px*/padding-inline: 0.25rem;}
.px-2{/*8px*/padding-inline: 0.5rem;}
.px-4{/*16px*/padding-inline: 1rem;}
.py-1{/*4px*/padding-block: 0.25rem;}
.py-2{/*8px*/padding-block: 0.5rem;}
.py-3{/*12px*/padding-block: 0.75rem;}
.py-4{/*16px*/padding-block: 1rem;}
.pie-2{/*8px*/padding-inline-end: 0.5rem;}
.m-auto{margin: auto;}
.mx-4{/*16px*/margin-inline: 1rem;}
.mb-5{/*20px*/margin-bottom: 1.25rem;}
.ml-1{margin-left: 0.25rem;}
.ml-10{margin-left: 2.5rem;}
.rounded-xs{/*4px*/border-radius: 0.25rem;}
.rounded-s{/*8px*/border-radius: 0.5rem;}
.rounded-sm{/*12px*/border-radius: 0.75rem;}
.rounded-full{border-radius: 999999px;}
.br-none{border: none;}
.br-1-s{border-width: 1px;border-style: solid;}
.br-2-s{border-width: 2px;border-style: solid;}
.br-b-1-s{border-bottom-width: 1px;border-bottom-style: solid;}
.gap-x-2{/*8px*/column-gap: 0.5rem;}
.gap-x-3{/*12px*/column-gap: 0.75rem;}
.gap-x-4{/*16px*/column-gap: 1rem;}
.gap-x-6{/*24px*/column-gap: 1.5rem;}
.gap-x-8{/*32px*/column-gap: 2rem;}
.gap-y-2{/*8px*/row-gap: 0.5rem;}
.gap-y-5{/*20px*/row-gap: 1.25rem;}
.w-fit{width: fit-content;}
.w-8{/*32px*/width: 2rem;}
.w-12{/*48px*/width: 3rem;}
.h-8{/*32px*/height: 2rem;}
.h-12{/*48px*/height: 3rem;}
.w-full{width: 100%;}
.h-full{height: 100%;}
.max-w-80{max-width: 20rem;/*320px*/}
.p-rel{position: relative;}
.p-abs{position: absolute;}
.zi-2{z-index: 2;}
.br-cus-c-2{border-color: var(--customColor_2);}
.border-ridge{border: 1px ridge grey;}
.hovr-cus-2:hover{color: var(--hoveredTextColor_2);}
.hovr-white:hover{color: white;}
.hovr-bg-cus-7:hover{background-color: var(--hoveredBackgroundColor_7);}
.text-cus-7{color: var(--customTxtColor_7);}
.bg-cus-1{background-color: var(--customBackgroundColor_1);}
.bg-cus-3{background-color: var(--customBackgroundColor_3);}
.bg-cus-6{background-color: var(--customBackgroundColor_6);}
.bg-trans{background-color: transparent;}
.mx-auto{margin-inline: auto;}
.flex-col{display: flex;flex-direction: column;}
.items-center{display: flex;align-items: center;}
.col-c{display: flex;justify-content: center;flex-direction: column;}
.col-b{display: flex;flex-direction: column;justify-content: space-between;}
.img-cov{width: 100%; height: 100% ;object-fit: cover;}
.logo-spotify{width: 8rem;}
.br-b-2-s{border-bottom-width: 2px;border-bottom-style: solid;}
.br-cus-c-7{border-color: var(--customColor_7);}
