/* This code is home made and based on tailwind, though it does not work completely like tailwind.*/

/* As to prevent the code from being completely deprecated in case I am not in charge of the projet anymore, I have included in the HTML a few default classes like header for header, left container for something that would look like a left container.*/

/* If you use these classes you might overwrite the home made classes. If you are not successfull doing that, try to use header.homemadeclass then you shall be able to overwrite. */

.left-container {
    max-width: 80%;
    min-width: 5rem;
    width: 30%;
    row-gap: 10px;
}

.left-container.large {
    width: 100%;
    max-width: 100%;
}
.left-container.reduced {

    width: 5rem;
}
.bottom-left-container {
    height: calc(100% - 110px);
}

#Create_Playlist_Options {
    position: fixed;
    z-index: 3;
}

#Create_Playlist_Options li {
    transition: background 0.2s ease;

}

/* .left-scrollable-container {
    height: calc(100% - 6rem);
} */

.form-left-side-container form {
    width: 70%;
    opacity: 0;
}

.form-left-side-container form input {
    border: none;
    width: 80%;
    opacity: 0;
    outline: none;
    pointer-events: none;
}

.form-left-side-container form input.searching {
    pointer-events: auto;
    animation: searchingInput 0.5s ease forwards 1s;
}
/* J'avais eu un soucis avec une image qui s'adaptait pas juste avec height/width je pense qu'il ny a plus. */
.left-scrollable-container div img {
    min-width: 50px;
    width: 50px;
    /* min-height: 50px; */
    height: 50px;
    object-fit: cover;
}
