.logo-spotify{width: 8rem;}
.br-col{border-collapse: collapse;}
.br-spacing-1{border-spacing: 0.25rem;}

.border-ridge{border: 1px ridge grey;}

.img-cov{width: 100%; height: 100% ;object-fit: cover; max-height: 100%; max-width: 100%;}
.col-a{display: flex;flex-direction: column;justify-content: space-around;}
.ml-auto{margin-left: auto;}
.m-auto{margin: auto;}
.mr-auto{margin-right: auto;}
.min-h-vh-4{min-height: 40vh;}
.min-h-2{min-height: 12.5rem;}
.min-h-vh-2{min-height: 20vh;}
.max-w-36{max-width: 9rem;/*144px*/}
.br-t-2-s{border-top-width: 2px; border-top-style: solid;}
.img-cov{width: 100%; height: 100% ;object-fit: cover;}

/* @media screen and (max-width: 1000px) {
    .grid.grid-col-4{
        grid-template-columns: repeat(2,1fr);
    }
    .grid-col-span-4 {
        grid-column: span 2;
    }
    .public-playlist {
        width: 100%;
    }
    .public-playlist .ta-c {
        text-align: left;

    }
    .public-playlist>a {
        display: flex;
        align-items: center;
        column-gap: 0.75rem;
        padding: 0.5rem;
        border-radius: 0.5rem;

    }
    .public-playlist .mb-5{
        margin: 0;
    }
    .public-playlist .h-36.w-36 {

        width: 3rem;
        height: 3rem;
    }
}
@media screen and (max-width: 780px) {

    .grid.grid-col-2,.grid.grid-col-4 {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-col-span-2,.grid-col-span-4  {
        grid-column: span 1;
    }
} */
/* .make-container\:left-container { container-name: left-container; container-type:inline-size;}
@container (max-width: 250px) { .max-cont-250\:hidden { display: none;} }

@container (min-width: 250px) { .min-cont-250\:center-b { display: flex;align-items: center;justify-content: space-between;} }
@container (max-width: 200px) { h4,p { display:none;} }

@container (max-width: 200px) { .max-cont-200\:fw-w { flex-wrap: wrap;} }
@container (max-width: 300px) { .max-cont-300\:py-4 { padding-block: 1rem;} }
@container (max-width: 300px) { .max-cont-300\:pt-2 { padding-top: 0.5rem;} }
@container (max-width: 250px) { .max-cont-250\:flex justify-items-c { display: flex;align-items: center;} }
@container (max-width: 200px) { .max-cont-200\:center { display: flex;align-items: center;justify-content: center;} }
@container (max-width: 200px) { .max-cont-200\:w-full { width: 100%;} }
@container (max-width: 250px) { .max-cont-250\:center { display: flex;align-items: center;justify-content: center;} } */
