
@font-face {
    font-family: "inter";
    src: url(/public/ressources/fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
    font-family: "jost";
    src: url(/public/ressources/fonts/Jost/static/Jost-Regular.ttf);
}

:root{


--customColor_1: #000000;
--customColor_2: #56E100;
--customColor_3: #303030;
--customColor_4: #0D0D0D;
--customColor_5: #ffffff;
--customColor_6: #1E1E1E;
--customColor_7: #CECECE;
--customColor_8: #777777;
--customColor_9: #3A3A3A;
--customColor_10: #DA3E3E;
--customColor_11: #F2B848;
--customColor_12: #262626;

--text_cus_color_1: var(--customColor_1);
--text_cus_color_2: var(--customColor_2);
--text_cus_color_3: var(--customColor_3);
--text_cus_color_4: var(--customColor_4);
--text_cus_color_5: var(--customColor_5);
--text_cus_color_6: var(--customColor_6);
--text_cus_color_7: var(--customColor_7);
--text_cus_color_8: var(--customColor_8);
--text_cus_color_9: var(--customColor_9);
--text_cus_color_10: var(--customColor_10);
--text_cus_color_11: var(--customColor_11);
--text_cus_color_12: var(--customColor_12);
--text_cus_color_13: var(--customColor_13);

--background_cus_1: var(--customColor_1);
--background_cus_2 : var(--customColor_2);
--background_cus_3 : var(--customColor_3);
--background_cus_4 : var(--customColor_4);
--background_cus_5 : var(--customColor_5);
--background_cus_6 : var(--customColor_6);
--background_cus_7 : var(--customColor_7);
--background_cus_8 : var(--customColor_8);
--background_cus_9 : var(--customColor_9);
--background_cus_10 : var(--customColor_10);
--background_cus_11 : var(--customColor_11);
--background_cus_12 : var(--customColor_12);
--background_cus_13 : var(--customColor_13);

--hover_text_cus_1: var(--customColor_1);
--hover_text_cus_2: var(--customColor_2);
--hover_text_cus_3: var(--customColor_3);
--hover_text_cus_4: var(--customColor_4);
--hover_text_cus_5: var(--customColor_5);
--hover_text_cus_6: var(--customColor_6);
--hover_text_cus_7: var(--customColor_7);
--hover_text_cus_8: var(--customColor_8);
--hover_text_cus_9: var(--customColor_9);
--hover_text_cus_10 : var(--customColor_10);
--hover_text_cus_11 : var(--customColor_11);
--hover_text_cus_12 : var(--customColor_12);
--hover_text_cus_13 : var(--customColor_13);


--border_cus_1: var(--customColor_1);
--border_cus_2 : var(--customColor_2);
--border_cus_3 : var(--customColor_3);
--border_cus_4 : var(--customColor_4);
--border_cus_5 : var(--customColor_5);
--border_cus_6 : var(--customColor_6);
--border_cus_7 : var(--customColor_7);
--border_cus_8 : var(--customColor_8);
--border_cus_9 : var(--customColor_9);
--border_cus_10 : var(--customColor_10);
--border_cus_11 : var(--customColor_11);
--border_cus_12 : var(--customColor_12);
--border_cus_13 : var(--customColor_13);

--hover_bg_cus_1:var(--customColor_1);
--hover_bg_cus_2:var(--customColor_2);
--hover_bg_cus_3:var(--customColor_3);
--hover_bg_cus_4:var(--customColor_4);
--hover_bg_cus_5:var(--customColor_5);
--hover_bg_cus_6:var(--customColor_6);
--hover_bg_cus_7:var(--customColor_7);
--hover_bg_cus_8:var(--customColor_8);
--hover_bg_cus_9:var(--customColor_9);
--hover_bg_cus_10:var(--customColor_10);
--hover_bg_cus_11:var(--customColor_11);
--hover_bg_cus_12:var(--customColor_12);
--hover_bg_cus_13:var(--customColor_13);
   

}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
}
*::-webkit-scrollbar {
display: none;
}

* svg {
min-width: 20px;
min-height: 20px;
overflow: visible;
} 
a{
    color: currentColor;
}
body {
font-family: 'jost';
/* height: 100vh; */
/* overflow: hidden; */
color:var(--customColor_7)
}


main {
    height: calc(100% - 15.45rem);
}

h1, .h1 {
    font-size: 2rem;
    font-family: 'inter';

}
h2,.h2 {
    font-size: 1.75rem;
    font-family: 'inter';

}
h3, .h3 {
    font-size: 1.5rem;
    font-family: 'inter';

}
h4, .h4 {
    font-size: 1.25rem;
    font-family: 'inter';

}
h5 {
    font-size: 1.15rem;
    font-family: 'inter';

}
p, .p {
    font-size: 1rem;
}
.p-a{
    font-size: 0.875rem;
}
/* section:not([data-id="contact"],[data-id="admin"],[data-id="signup"]) {
    height: 70vh;
} */
.global-feed h2{
    width: 100%;
}
.input{color: white; background: transparent; border-radius: 0.25rem; height: 2rem; padding-inline: 0.5rem; border: 1px solid var(--customColor_8)}

.input-height-l{color: white; background: transparent; border-radius: 0.25rem; padding-inline: 0.5rem; border: 1px solid var(--customColor_8)}

.increment::before{counter-increment: auto-increment-numbers;content: counter(auto-increment-numbers)')';margin-right: 5px;}

.profile-picture{width: 100%;height: 100%;object-fit: cover; border: 2px solid var(--green_1);}
.img-cov{width: 100%; height: 100% ;object-fit: cover;}
.logo-spotify{width: 8rem;}
.border-ridge{border: 1px ridge grey;}
.hovr-bx-shadow-cus-2:hover{box-shadow: 0px 0px 10px 1px var(--background_cus_2);}
.bottom-left-container {
    height: calc(100% - 110px);
}

.flat-playlist-link{
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.br-l-4-s{border-left: 4px; border-left-style: solid;}
/* .br-cus-c-10{border-color: var(--customColor_10);} */


.btn-1 {
    border: 1px solid var(--background_cus_5);
    color: var(--text_cus_color_7);
    background-color: var(--background_cus_6);
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.btn-1:hover {
    color: var(--text_cus_color_6);
    background-color: var(--background_cus_7);
}

.btn-signup {
    background: var(--background_cus_2);
    color: black;
    margin: auto  ;
    padding: 0.5rem 2rem;
    text-align: center;
    border: white 1px solid;
    border-radius: 2.25rem;
    width: 100%;
    transition: ease 0.5s;
    cursor: pointer;
}
.btn-signup:hover {
    color: white;
    background-color: darkgreen;
}
.tracks-table tr:hover .play-button.hidden{
    display: block;
}
.tracks-table tr:hover .orderNumber{
    display: none;
}
.tos {
    height: 70vh
}

.body-grad-1 {
    background: linear-gradient(to top, var(--customColor_4),var(--customColor_3)); 
}
    
.body-grad-2 {
    background: linear-gradient(to top, var(--customColor_3),var(--customColor_4));
}
.body-grad-3 {
    background: linear-gradient(to left, var(--customColor_3),var(--customColor_4));
}
.body-grad-4 {
    background: linear-gradient(to right, var(--customColor_3),var(--customColor_4));
}

.ticket-grad-1 {
    background: linear-gradient(to right, var(--customColor_11),var(--customColor_4));
}
.ticket-grad-2 {
    background: linear-gradient(to right, var(--customColor_2),var(--customColor_4));
}
.ticket-grad-3 {
    background: linear-gradient(to right, var(--customColor_10),var(--customColor_4));
}

