.ta-c{text-align: center;}
.text-black{color: black;}
.c-p{cursor: pointer;}
.d-fx{display: flex;}
.center-b{display: flex;align-items: center;justify-content: space-between;}
.overf-h{overflow: hidden;}
.jc-sb{justify-content: space-between;}
.p-2{/*8px*/padding: 0.5rem;}
.px-2{/*8px*/padding-inline: 0.5rem;}
.px-4{/*16px*/padding-inline: 1rem;}
.px-12{/*48px*/padding-inline: 3rem;}
.py-2{/*8px*/padding-block: 0.5rem;}
.py-4{/*16px*/padding-block: 1rem;}
.py-8{/*32px*/padding-block: 2rem;}
.pt-4{/*16px*/padding-top: 1rem;}
.pb-2{/*8px*/padding-bottom: 0.5rem;}
.mt-auto{margin-top: auto;}
.mb-5{/*20px*/margin-bottom: 1.25rem;}
.rounded-xs{/*4px*/border-radius: 0.25rem;}
.rounded-s{/*8px*/border-radius: 0.5rem;}
.rounded-sm{/*12px*/border-radius: 0.75rem;}
.rounded-full{border-radius: 999999px;}
.br-1-s{border-width: 1px;border-style: solid;}
.gap-x-3{/*12px*/column-gap: 0.75rem;}
.gap-x-8{/*32px*/column-gap: 2rem;}
.gap-y-2{/*8px*/row-gap: 0.5rem;}
.gap-y-5{/*20px*/row-gap: 1.25rem;}
.w-fit{width: fit-content;}
.w-10{/*40px*/width: 2.5rem;}
.w-28{/*112px*/width: 7rem;}
.h-10{/*40px*/height: 2.5rem;}
.h-28{/*112px*/height: 7rem;}
.max-h-28 { max-height: 7rem; }
.max-w-28{max-width: 7rem;/*112px*/}
.br-cus-c-2{border-color: var(--customColor_2);}
.border-ridge{border: 1px ridge grey;}
.hovr-white:hover{color: white;}
.text-cus-2{color: var(--customTxtColor_2);}
.text-cus-7{color: var(--customTxtColor_7);}
.bg-cus-1{background-color: var(--customBackgroundColor_1);}
.bg-cus-3{background-color: var(--customBackgroundColor_3);}
.bg-cus-6{background-color: var(--customBackgroundColor_6);}
.td-3{transition: ease 0.6s;}
.input{color: white; background: transparent; border-radius: 0.25rem; height: 2rem; padding-inline: 0.5rem; border: 1px solid var(--customColor_8)}
.hidden{display: none;}
.mx-auto{margin-inline: auto;}
.block{display: block;}
.profile-picture{width: 100%;height: 100%;object-fit: cover; border: 2px solid var(--green_1);}
.flex-col{display: flex;flex-direction: column;}
.items-center{display: flex;align-items: center;}
.col-b{display: flex;flex-direction: column;justify-content: space-between;}
.col-a{display: flex;flex-direction: column;justify-content: space-around;}
.logo-spotify{width: 8rem;}
.ml-auto{margin-left: auto;}
.br-t-2-s{border-top-width: 2px;border-top-style: solid;}
.br-b-2-s{border-bottom-width: 2px;border-bottom-style: solid;}
.br-cus-c-7{border-color: var(--customColor_7);}
.hovr-bx-shadow-cus-2:hover{box-shadow: 0px 0px 10px 1px var(--customBackgroundColor_2);}
.login-card{width: 50%;min-width: 17rem;}