.fs-1{/*12px*/font-size: 0.75rem;}
.text-black{color: black;}
.c-p{cursor: pointer;}
.c-na{cursor: not-allowed;}
.grid{display: grid;}
.center-b{display: flex;align-items: center;justify-content: space-between;}
.grid-col-2{grid-template-columns: 1fr 1fr;}
.px-2{/*8px*/padding-inline: 0.5rem;}
.px-4{/*16px*/padding-inline: 1rem;}
.px-8{/*32px*/padding-inline: 2rem;}
.px-12{/*48px*/padding-inline: 3rem;}
.py-2{/*8px*/padding-block: 0.5rem;}
.py-4{/*16px*/padding-block: 1rem;}
.py-8{/*32px*/padding-block: 2rem;}
.pt-4{/*16px*/padding-top: 1rem;}
.pb-2{/*8px*/padding-bottom: 0.5rem;}
.my-5{/*20px*/margin-block: 1.25rem;}
.mt-auto{margin-top: auto;}
.mb-3{/*12px*/margin-bottom: 0.75rem;}
.mb-5{/*20px*/margin-bottom: 1.25rem;}
.rounded-s{/*8px*/border-radius: 0.5rem;}
.rounded-9{/*36px*/border-radius: 2.25rem;}
.br-none{border: none;}
.br-1-s{border-width: 1px;border-style: solid;}
.br-b-1-s{border-bottom-width: 1px;border-bottom-style: solid;}
.gap-x-8{/*32px*/column-gap: 2rem;}
.gap-y-2{/*8px*/row-gap: 0.5rem;}
.gap-y-3{/*12px*/row-gap: 0.75rem;}
.gap-y-5{/*20px*/row-gap: 1.25rem;}
.w-fit{width: fit-content;}
.h-8{/*32px*/height: 2rem;}
.max-w-80{max-width: 20rem;/*320px*/}
.br-cus-c-2{border-color: var(--customColor_2);}
.border-ridge{border: 1px ridge grey;}
.hovr-text-white:hover{color: white;}
.bg-cus-1{background-color: var(--customBackgroundColor_1);}
.bg-cus-2{background-color: var(--customBackgroundColor_2);}
.td-3{transition: ease 0.6s;}
.input{color: white; background: transparent; border-radius: 0.25rem; height: 2rem; padding-inline: 0.5rem; border: 1px solid var(--customColor_8)}
.hidden{display: none;}
.mx-auto{margin-inline: auto;}
.block{display: block;}
.hovr-scale-11:hover{transform: scale(1.05);}
.increment::before{counter-increment: auto-increment-numbers;content: counter(auto-increment-numbers)')';margin-right: 5px;/*Optionnel: pourl'espaceentrelenuméroetletexte*/}
.flex-col{display: flex;flex-direction: column;}
.items-center{display: flex;align-items: center;}
.col-b{display: flex;flex-direction: column;justify-content: space-between;}
.logo-spotify{width: 8rem;}
.br-t-2-s{border-top-width: 2px;border-top-style: solid;}
.br-b-2-s{border-bottom-width: 2px;border-bottom-style: solid;}
.login-card{width: 50%;min-width: 17rem;}